<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--Coloque o caminho para os repositorios do GIT AQUI-->
    <add key="DefaultRepositoriesDirectory" value="C:\\Git\\" />
    <!--Coloque o caminho para os logs do console e verificação de commits ja enviados do GIT AQUI-->
    <add key="DefaultLogDirectory" value="C:\Git\Log\" />
    <add key="SMTP" value="smtp.seuprovedor.com" />
    <add key="PORT" value="123" />
    <add key="USERNAMEMAIL" value="contato@inovaebiz.com.br" />
    <add key="PASSWORDMAIL" value="senhadoemail" />
    <add key="MAILFROM" value="contato@inovaebiz.com.br" />
    <!--Aqui é uma lista de destinatarios. Separar por virgula. -->
    <add key="MAILTO" value="contato@inovaebiz.com.br" />
    <add key="SUBJECT" value="Alterações do Git " />
    <!--Emprsa que estara nos dizeres do e-mail que vai ser enviado aos funcionarios-->
    <add key="PARTNER" value="a Inova e-Bussiness" />

  </appSettings>
  <connectionStrings>
    <!--Coloque o caminho para o banco de dados do GIT AQUI-->
    <add name="BonoboGitServerContext" connectionString="Data Source=C:\Git\Bonobo.Git.ServerInova.db;BinaryGUID=False;" providerName="System.Data.SQLite" />
    <!--<add name="BonoboGitServerContext" connectionString="Server=.;Database=bonobogit;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
